<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <title>旅游商城</title>
    <link rel="stylesheet" href="../css/pc/general.css">
    <link rel="stylesheet" href="../css/pc/store.css">
    <link rel="stylesheet" href="../css/pc/usually.css">
</head>
<body>
<div class="box box-direction-c">
    <!-- 顶部 -->
    <div class="topnav" th:include="topPage::#topnav"></div>

    <!-- 导航 -->
    <div class="navwp" th:include="menu::#navwp"></div>
    <!-- 顶部轮播 -->
    <div class="top-lunbo">
        <div class="t-l-c">
            <ul class="t-l-c-ul">
                <a href="/storeList.html?productMode=1">
                    <li class="t-l-c-li">
                        <div class="top">
                            <span>地区分类</span><span>></span>
                        </div>
                        <ul class="city">
                            <li>三亚</li>
                            <li>云南</li>
                            <li>桂林</li>
                            <li>重庆</li>
                        </ul>
                    </li>
                </a>
                <a href="/storeList.html?productMode=2">
                    <li class="t-l-c-li">
                        <div class="top">
                            <span>主题分类</span><span>></span>
                        </div>
                        <ul class="city">
                            <li>蜜月</li>
                            <li>亲子</li>
                            <li>海岛</li>
                            <li>民族</li>
                        </ul>
                    </li>
                </a>
                <a href="/storeList.html?productMode=3">
                    <li class="t-l-c-li">
                        <div class="top">
                            <span>景点分类</span><span>></span>
                        </div>
                        <ul class="city">
                            <li>风光</li>
                            <li>刺激</li>
                            <li>山水</li>
                            <li>休闲</li>
                        </ul>
                    </li>
                </a>
                <a href="/storeList.html?productMode=4">
                    <li class="t-l-c-li">
                        <div class="top">
                            <span>交通分类</span><span>></span>
                        </div>
                        <ul class="city">
                            <li>大巴</li>
                            <li>高铁</li>
                            <li>飞机</li>
                            <li>游轮</li>
                        </ul>
                    </li>
                </a>
                <a href="/customized.html">
                    <li class="t-l-c-li">
                        <div class="top">
                            <span>定制旅游</span><span>></span>
                        </div>
                        <ul class="city">
                            <li>个人定制</li>
                            <li>团队定制</li>
                        </ul>
                    </li>
                </a>
            </ul>
        </div>
    </div>
    <!-- 商城列表 -->
    <div class="s-list" name="dz" id="dz">
        <ul class="s-list-c">
            <li class="s-list-c-li">
                <div class="s-list-c-li-top">
                    <div class="s-list-c-li-title">地区游</div>
                    <ul class="s-list-c-li-ul">
                        <li class="active" th:each="productTypes,productStart : ${productTypes1}" th:if="${productStart.index==0}" th:onclick="'javascript:checkProductType(this,'+${productTypes.getId()}+',1)'" th:text="${productTypes.getProductType()}"></li>
                        <li th:each="productTypes,productStart : ${productTypes1}" th:if="${productStart.index!=0}" th:onclick="'javascript:checkProductType(this,'+${productTypes.getId()}+',1)'" th:text="${productTypes.getProductType()}"></li>
                    </ul>
                </div>
                <div class="s-list-c-li-bottom">
                    <img src="../img/pc/u1.jpg" alt="">
                    <ul id="product1">
                            <li th:each="product:${productList1}">
                                <a th:href="'/storeDetail.html?id='+${product.getId()}">
                                    <img th:src="${product.getImgs()}" alt="图片无法显示">
                                    <div class="dec" th:text="'出发时间：'+${product.getStartTime()}"></div>
                                    <div class="title" th:text="${product.getTitle()}"></div>
                                    <div class="price">
                                        <span class="span1">￥</span>
                                        <span class="span2" th:text="${product.getPrice()}"></span>
                                        <span>元起</span>
                                    </div>
                                </a>
                            </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="s-list" name="zt" id="zt">
        <ul class="s-list-c">
            <li class="s-list-c-li">
                <div class="s-list-c-li-top">
                    <div class="s-list-c-li-title">主题游</div>
                    <ul class="s-list-c-li-ul">
                        <li class="active" th:each="productTypes,productStart : ${productTypes2}" th:if="${productStart.index==0}" th:onclick="'javascript:checkProductType(this,'+${productTypes.getId()}+',2)'" th:text="${productTypes.getProductType()}"></li>
                        <li th:each="productTypes,productStart : ${productTypes2}" th:if="${productStart.index!=0}" th:onclick="'javascript:checkProductType(this,'+${productTypes.getId()}+',2)'" th:text="${productTypes.getProductType()}"></li>
                    </ul>
                </div>
                <div class="s-list-c-li-bottom">
                    <img src="../img/pc/u2.jpg" alt="">
                    <ul id="product2">
                        <li th:each="product:${productList2}">
                            <a th:href="'/storeDetail.html?id='+${product.getId()}">
                                <img th:src="${product.getImgs()}" alt="图片无法显示">
                                <div class="dec" th:text="'出发时间：'+${product.getStartTime()}"></div>
                                <div class="title" th:text="${product.getTitle()}"></div>
                                <div class="price">
                                    <span class="span1">￥</span>
                                    <span class="span2" th:text="${product.getPrice()}"></span>
                                    <span>元起</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <div class="s-list"  name="jd" id="jd">
        <ul class="s-list-c">
            <li class="s-list-c-li">
                <div class="s-list-c-li-top">
                    <div class="s-list-c-li-title">景点游</div>
                    <ul class="s-list-c-li-ul">
                        <li class="active" th:each="productTypes,productStart : ${productTypes3}" th:if="${productStart.index==0}" th:onclick="'javascript:checkProductType(this,'+${productTypes.getId()}+',3)'" th:text="${productTypes.getProductType()}"></li>
                        <li th:each="productTypes,productStart : ${productTypes3}" th:if="${productStart.index!=0}" th:onclick="'javascript:checkProductType(this,'+${productTypes.getId()}+',3)'" th:text="${productTypes.getProductType()}"></li>
                    </ul>
                </div>
                <div class="s-list-c-li-bottom">
                    <img src="../img/pc/u3.jpg" alt="">
                    <ul id="product3">
                        <li th:each="product:${productList3}">
                            <a th:href="'/storeDetail.html?id='+${product.getId()}">
                                <img th:src="${product.getImgs()}" alt="图片无法显示">
                                <div class="dec" th:text="'出发时间：'+${product.getStartTime()}"></div>
                                <div class="title" th:text="${product.getTitle()}"></div>
                                <div class="price">
                                    <span class="span1">￥</span>
                                    <span class="span2" th:text="${product.getPrice()}"></span>
                                    <span>元起</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <div class="s-list" name="jt" id="jt">
        <ul class="s-list-c">
            <li class="s-list-c-li">
                <div class="s-list-c-li-top">
                    <div class="s-list-c-li-title">交通游</div>
                    <ul class="s-list-c-li-ul">
                        <li class="active" th:each="productTypes,productStart : ${productTypes4}" th:if="${productStart.index==0}" th:onclick="'javascript:checkProductType(this,'+${productTypes.getId()}+',4)'" th:text="${productTypes.getProductType()}"></li>
                        <li th:each="productTypes,productStart : ${productTypes4}" th:if="${productStart.index!=0}" th:onclick="'javascript:checkProductType(this,'+${productTypes.getId()}+',4)'" th:text="${productTypes.getProductType()}"></li>
                    </ul>
                </div>
                <div class="s-list-c-li-bottom">
                    <img src="../img/pc/u4.jpg" alt="">
                    <ul id="product4">
                        <li th:each="product:${productList4}">
                            <a th:href="'/storeDetail.html?id='+${product.getId()}">
                                <img th:src="${product.getImgs()}" alt="图片无法显示">
                                <div class="dec" th:text="'出发时间：'+${product.getStartTime()}"></div>
                                <div class="title" th:text="${product.getTitle()}"></div>
                                <div class="price">
                                    <span class="span1">￥</span>
                                    <span class="span2" th:text="${product.getPrice()}"></span>
                                    <span>元起</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <!-- 底部 -->
    <div class="bottom" th:include="pctop::#bottom"></div>
</div>
</body>
    <script src="../js/pc/jquery-3.3.1.min.js"></script>
    <script src="../js/pc/collection.js"></script>
<script>
    // 顶部导航
    $(".cursor").mouseover(function(){
        $(this).siblings('.cursor').find('.two').hide();
        $(this).find(".two").show();
    })
    $(".two").mouseleave(function(){
        $(this).hide();
    })
    var a=GetRequest();
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = decodeURIComponent(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    
    function checkProductType(e,productType,productId) {
        //切换li标签的样式
        $(e).siblings("li").removeClass("active");
        $(e).addClass("active");
        //ajax 请求数据进行替换
        $.ajax({
            type : 'get',
            url : '/getByProductType.html',
            data:{"productType":productType},
            success : function(data) {
                $("#product"+productId).empty();
                $.each(data,function (i,item) {
                    var html =  "<li>\n"
                                +"      <a href=\"storeDetail.html?id="+item.id+"\">\n"
                                +"		<img src=\""+item.imgs+"\" alt=\"\">\n"
                                +"		<div class=\"dec\">出发时间："+item.startTime+"</div>\n"
                                +"		<div class=\"title\">"+item.title+"</div>\n"
                                +"		<div class=\"price\">\n"
                                +"				<span class=\"span1\">￥</span>\n"
                                +"				<span class=\"span2\">"+item.price+"</span>\n"
                                +"				<span>元起</span>\n"
                                +"		</div>\n"
                                +"		</a>\n"
                                +"</li>"
                    $("#product"+productId).append(html);
                })
            }
        });

    }
</script>
</html>